{% extends 'index.html' %}

{% block content %}
  <h2>Professors</h2>
  <ul>
    {% for teacher in teachers %}
      <li>ID: {{ teacher.id }}, Nombre: <a href="{% url 'teacher_detail' teacher.id %}">{{ teacher.nombre }}</a>, Apellidos: {{ teacher.apellidos }}, Edad: {{ teacher.edad }} <a href="{% url 'update_teacher' teacher.id %}">Editar</a> <a href="{% url 'delete_teacher' teacher.id %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_teacher' %}">Agregar nuevo profesor</a><br>
  <a href="{% url 'index' %}">Volver a la página principal</a>
{% endblock %}

